
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
  width: 100svw;
  height: 100svh;
  font-size: 2.6vw;
  font-family: "Mononoki";
}

#app {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5%;
}

.flex {
  display:flex;
}

.column {
  flex-direction: column;
}

.lmauto {
  margin-left: auto;
}

#clock {
  font-size: 30vh;
}

#panel {
  justify-content: start;
  align-items: start;
  height: 50vh;
  width: 35%;
  gap: 1em;
  /* overflow: hidden; */
  /* background-color: #0000FF; */
}

#info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#detail {
  gap: 0.5em;
  font-size: 2.5vw;
}

#sysinfo {
  display: grid;
  grid-template-columns: 5ch auto auto;
}

.bar {
  display: flex;
  margin: 5px;
}

.bar > div {
  margin-left: 4px;
  width: 2px;
  background-color: #666666;
  transition: 0.25s;
  border-radius: 5px;
}

#music {
  /* background-color: #00FF00; */
  width: 100%;
  gap: 5px;
}

#music-bar {
  /* background-color: #FF0000; */
  height: 1em;
  margin: 0;
}
#music-bar > div {
  width: 4px;
  margin-left: 0px;
  margin-right: 4px;
}
#music-controls {
  justify-content: stretch;
  width: 100%;
}
#music-controls > * {
  flex: 1;
}
#music-duration {
  text-align-last: right;
}
#music-controls-buttons {
  gap: 2em;
}

hr {
  background-color: #FFFFFF;
  width: 100%;
  border: 2px solid white;
}
